@inject IStringLocalizer<SharedResources> localizer

<footer class="demo-footer mdl-mini-footer">
    <div class="mdl-mini-footer--left-section">
        <ul class="mdl-mini-footer--link-list">
            <li><a href="https://github.com/just-the-benno/Beer" target="_blank">Github</a></li>
        </ul>
    </div>
</footer>
