<div class="d-flex flex-column align-center my-10">
    <MudProgressCircular Indeterminate="true" Size="Size.Large" />
    <span>@Text</span>
</div>

@code {
    [Parameter] public String Text { get; set; }
}
